.ipynb_checkpoints/
.hg_key
.keys/
__pycache__/

.venv/
rag.log

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

keys.zip

dist/
build/
*.egg-info/

flaksr/
.vscode/
core/flaskr/
.DS_Store

client/
logs/
data/
