@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgb(52, 53, 65);
  color: white;
}

.inp{
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}

textarea::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
textarea {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}