langchain
gunicorn
elasticsearch
rank_bm25
langchain-google-genai
Flask
flask-cors
pandas
langchain-community
langchainhub
langchain-openai
google-cloud-aiplatform
markdownify
oauth2client==4.1.3
google-api-python-client==2.64.0
firebase_admin==6.4.0
